{{define "admin"}}

<html>

<head>

  <title>gorala - linkshortener admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/spectre.min.css">
  <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">


<body>
    <div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Target Link</th>
            <th>Created Link</th>
            <th>Key</th>
            <th>Times Visited</th>
            <th>Created at</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {{range $index, $element := .}}
          <tr>
            <td>{{ $index }}</td>
            <td><a href="{{ $element.Link }}">{{ $element.Link }}</a></td>
            <td><a href="{{ $element.ShortendFullLink }}" >{{ $element.ShortendFullLink }}</a></td>
            <td>{{ $element.ShortendLink }}</td>
            <td>{{ $element.TimesVisited  }}</td>
            <td>{{ $element.CreatedAt.Format "02.01.2006"  }}</td>
            <td>
                <form action="/admin/delete/{{ $element.ShortendLink }}" method="POST">
                    <button type="submit" class="btn btn-error">Delete</button>
                </form>
            </td>
          </tr>
        {{end}}
        </tbody>
    </table>    
</div>
</body>

<style>

</style>

<script>


</script>

</html>
{{end}}